body{
    background-color: black;
}
h1{
    color: white;
}

td{
    height: 150px;
    width: 150px;
    border: 1px solid  aliceblue    ;
    align-items: center;
    font-size: 60px;
    color: white ;

}
td::after{
    filter:invert(1) ;
}
table{
    margin-left: 35%;
    margin-top: 5%;

}